.list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.item {
    display: flex;
    padding: 10px;
}
.img {
    width: 150px;
    height: auto;
    margin: 0;

    border-radius: 10px;

}
.box_info{
margin-left: 30px;
}
.name { 
    font-weight: 600;
}